.yellow, .yellow input {
    color: #ffce2e;
}

.blue, .blue input {
    color: #7ab1e8;
}

.pink, .pink input {
    color: #f87089;
}

.red, .red input{
    color: red;
}

.light-gray {
    background-color: #e3ddd8;
    border-color: #e3ddd8;
}

.matrix-container:before, .matrix-container:after, .vector-container:before, .vector-container:after {
     content: "";
     top: 0;
     border: 1px solid white;
 }

.matrix-container:before, .matrix-container:after {
    width: 6px;
}

.vector-container:before, .vector-container:after {
    width: 3px;
}


.matrix-container:before, .vector-container:before {
    border-right: 0px;
}

.matrix-container:after, .vector-container:after {
    border-left: 0px;
}

.matrix input, .vector input {
    height: 20px;
    background: #2e2d2d;
    border: none;
}

.matrix input {
    width: 35px;
}

.vector input{
    width: 30px;
    font-size: 13px;
}

.matrix td {
    padding: 5px;
    text-align: center;
}

.vector td {
    padding: 2px;
    text-align: center;
}